.custom-progressBar {
  width: 100%;

  .tiny {
    height: 4px;
  }

  .mini {
    height: 8px;
  }

  .small {
    height: 12px;
  }

  .big {
    height: 16px;
  }

  .large {
    height: 20px;
  }

  .progress-container {
    width: 100%;
    background-color: #ccc;
    transition: width .2s ease, background-color .1s ease;

    .progress-bar {
      width: 0;
      height: 30px;
      background-color: #4caf50;
      text-align: center;
      line-height: 30px;
      color: white;
      transition: width .2s ease, background-color .1s ease;
    }

    &-pill-shape {
      border-radius: 1rem;

      .progress-bar {
        border-radius: 1rem;
      }
    }
  }
}