.custom-progressBar {
  display: flex;
  width: 100%;
  background: whitesmoke;
  // font-size: 1rem;

  .progress-bar {
    background: none !important;
    margin: 0 !important;
    z-index: 1;
  }

  .alert-progress {
    width: 10%;
    background-color: red;
    border-radius: 1rem;
    margin-left: -20px;
    
  }
}

.pill-shape {
  border-radius: 1rem;

  .progress-bar {
    border-radius: 1rem !important;

    .bar {
      border-radius: 1rem !important;
    }
  }
}