.custom-progressBar {
  width: 100%;
  background-color: none;
  background: none;

  .progress-container {

    .progress-bar {
      background: none;

    }
  }
}

.pill-shape {
  border-radius: 1rem;

  .progress-bar {
    border-radius: 1rem !important;

    .bar {
      border-radius: 1rem !important;
    }
  }
}